.WitChoc {
}

.WitChocMenu {
	margin: 0 3rem 0 0;
	font: 1.5rem Serif;
}

.WitChocMenu A {
	text-decoration: none;
}

.WitChocMenuWitChoc {
	margin: 1rem 0 0 0;
}

.WitChocLogoYeopChar {
	font-size: 1.8rem;
}

.container {
	margin: 1rem 0 0 0;
	font: 1.25rem Serif;
}

.container A {
	color: blue;
	text-decoration: none;
}

.container span {
	font: 1rem Serif;
}

.interactives {
	margin: 1rem 0 0 0;
}

.interactives button {
	margin: 0 .5rem 0 .5rem
}

.list {
	list-style: none;
}

.list span {
	font: 1rem Serif;
}

.post {
	margin: 1rem 0 0 0;
	font: 1.25rem Serif;
}

.post span {
	font: 1rem Serif;
}

.post h1 {
	font: 1rem Serif;
}

.error {
	display: inline-block;
	margin: ;
	font: 2rem Serif;
    border-right: 1px solid rgba(0,0,0,1);
}

.test {
	font: 1rem "Helvetica Neue",Helvetica,sans-serif,"Jetbrains Mono",Cascadia,Consolas;
	list-style: none;
}