.WitChoc {
}

.WitChocMenu {
	margin: 0 3rem 0 0;
	font: 1.5rem Serif;
}

.WitChocMenu A {
	text-decoration: none;
}

.WitChocMenuWitChoc {
	margin: 1rem 0 0 0;
}

.WitChocLogoYeopChar {
	font-size: 1.75rem;
}

.Back {
	font-size: 1.5rem;
}

.container {
	padding: 1rem 0 0 0;
	font: 1.2rem Serif;
}

.container A {
	color: blue;
	text-decoration: none;
}

.list {
	list-style: none;
}

.list span {
	font: 1rem Serif;
}

.post {
	margin: 1rem 0 0 0;
	font: 1.2rem Serif;
}

.post span {
	font: 1rem Serif;
}

.post h1 {
	font: 1rem Serif;
}