# temporary directories, py-caches, logs
.vscode/
.DS_Store/
__pycache__/
*.pyc
*.pyo
*.log

# mines
ko.txt
GBR.ttf
chinook.sql

# credentials
key
gcert.json
gsak.json
token.json

# rust binaries
rs/target/
Cargo.lock
main.exe
main.pdb

# etc