* {
	font-family: jetbrains mono,roboto mono,noto sans mono,cascadia,consolas;
}

body {
	margin: 0;
	background: linear-gradient(to left,#0ba,#d50);
}

li {
	list-style-type: None;
}

hr {
	border-top: 2px solid black;
}